body{
    padding: 100px;
}
.submit-area{
    margin-top: 50px;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
}
#calculat-area{
    display: none;
}
.status{
    margin: 0 20px;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
}
.deposit{
    background-color: #5E4EC5;
}
.withdraw{
    background-color: #EF956E;
}
.balance{
    background-color: #EE9A00;
}